<div class="navbar">
    <a [routerLink]="['inicio']" routerLinkActive="active">Curriculum Vitae</a>
    <a [routerLink]="['menu']" routerLinkActive="active">Agenda electronica</a>
    <a [routerLink]="['contactos']" routerLinkActive="active">Formulario de Contacto</a>
</div>




