/* p{
    float: left;
    font-size: 60px;
    padding: 250px;
} */

body {
    margin: 0px;
}

header {
    padding: 100px;
}

header img {
    width: 150px;
    height: 150px;
    float: right;
    padding: 15px;
    border: 1px solid black;
    margin-right: 30px;
    margin-top: 30px;
}

header h1 {
    text-align: center;
}

header ul li {
    list-style: none;
}

header .Sobremi {
    padding-right: 350px;
}

.Estudiosrealizados ul li i {
    margin-left: -20px;
    margin-right: 5px;
}